a {
    color: black;
    text-decoration: none;
    display: inline-block;
}

ul {
    position: relative;
}

.list-group-item {
    padding: 0;
    height: 30px;
}

#list-item-category:hover {
    color: #fff;
    transform: scale(1.025);
}

.list-group-item a {
    padding-left: 10px;
}

#list-item-category:hover a {
    color: #fff;
}

#list-item-caetgory .backgroundEffect {
    bottom: 0;
    height: 100%;
    width: 0;
}

#list-item-category:hover .backgroundEffect {
    bottom: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    background: #d9534f;
    animation: popBackground 0.3s ease-in;
}

@keyframes popBackground {
    0% {
        width: 25%;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
    }

    50% {
        width: 50%;
        border-top-right-radius: 75%;
        border-bottom-right-radius: 75%;
    }

    75% {
        width: 75%;
        border-top-right-radius: 85%;
        border-bottom-right-radius: 85%;
    }

    100% {
        width: 100%;
        border-top-right-radius: 100%;
        border-bottom-right-radius: 100%;
    }
}
